p{
    color: white;
    font-size: 32px
}

.sfondo-verde
{
    background-color : rgb(76, 216, 88);
    width: 7%;
}
.rettangolo
{
    color: rgb(108, 255, 138); font-size:32px;
    background-color: rgb(255, 109, 146);
    border: outset; padding: 12px; border-width: thick;
    width: 30%; margin: auto;
    text-align: center;
    border-color: rgb(255, 74, 120);
}
.sfondo-blu
{
    background-color : rgb(68, 68, 246);
    border: outset; padding: 12px; border-width: thick;
    width: 173px; 
    border-color:rgb(2, 2, 254);
}
.rettangolo2
{
    background-color:aqua;
    width: 243px;
    border: outset; padding: 12px; border-width:thick;
    border-color: rgb(0, 196, 196);
    text-align:center;
}